<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark List</title>
  </head>

  <body>
    <h1>WAOW! Look at all these bookmarks!!!</h1>

    <h2><%= @bookmarks.view %></h2>

  </body>
</html>
