<h3>Add a bookmark</h3>
<p>To add a bookmark, enter the url below:</p>
<form action='/new_bookmark' method='post'>
  <input type='text' name='new_bookmark'>
  <input type="submit" value="Add bookmark">
</form>
