<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target='_blank'>
        <%= bookmark.title %>
      </a>
      <form action='/bookmark/<%= bookmark.id %>' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete'>
        </form>
    </li>
  <% end %>
</ul>
